<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>299133787731-rvaeqnahao1feu7cu5dg4vtvaq1bmqmd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.299133787731-rvaeqnahao1feu7cu5dg4vtvaq1bmqmd</string>
	<key>API_KEY</key>
	<string>AIzaSyDhoMBxE8iIVs3LC1iJ0hF8sa_H_Eeg018</string>
	<key>GCM_SENDER_ID</key>
	<string>299133787731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramReportApp</string>
	<key>PROJECT_ID</key>
	<string>instagram-report-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-report-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:299133787731:ios:ce40b3380a13b5fd1a70a6</string>
</dict>
</plist>